/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
/* Navbar dasar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, rgb(0, 0, 0) , rgba(40, 11, 77, 0.884));
    padding: 10px 20px;
    position: relative;
}

.navbar .logo img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

/* Menu desktop */
.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: rgba(255, 255, 255, 0.507);
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
}



/* Hamburger (HP) */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
}

.nav-links a {
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%; /* underline muncul penuh */
}

/* Responsive HP */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none; /* tersembunyi default */
        flex-direction: column;
        position: absolute;
        top: 60px;   /* di bawah navbar */
        right: 0;    /* POSISI DI KANAN */
        background-color: #050505;
        width: 200px;
        padding: 10px 0;
        border-left: 1px solid #1e293b; /* border kiri biar terlihat */
        z-index: 10;
    }

    .nav-links a {
        padding: 12px 20px;
        border-bottom: 1px solid #1e293b;
    }

    /* class aktif -> menu muncul */
    .nav-links.active {
        display: flex;
    }
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #000000, #400b64f1),
            url('bg2.jpg') center/cover;
    padding: 0 60px;
    color: white;
}

/* CONTAINER */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* TEXT */
.hero-text {
    max-width: 550px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.3s;
}


.hero-text span {
    background: linear-gradient(to right, #fcfcfc, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    color: #ccc;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.6s;
}

/* BUTTON */
.hero-buttons {
    display: flex;
    gap: 15px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.9s;
}

.btn-primary {
    padding: 12px 25px;
    border-radius: 30px;
    background: linear-gradient(to right, #01004660, #360c5a50);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* HOVER */
.btn-primary:hover {
     transform: translateY(-3px) scale(1.05);
     background: linear-gradient(to right, #000000da, #5509977a);
     border: 1px solid #8e2de2;
}

/* HOVER */
.btn-secondary {
    padding: 12px 25px;
    border-radius: 30px;
   background: linear-gradient(to right, #01004660, #360c5a50);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}
.btn-primary:active{
    transform: scale(0.95);
}
.btn-secondary:active {
    transform: scale(0.95);
}
/* HOVER */
.btn-secondary:hover {
     background: linear-gradient(to right, #000000da, #5509977a);
     border: 1px solid #8e2de2;
    transform: translateY(-3px) scale(1.05);
    
}

/* LOGO KANAN */
.hero-image img {
    width: 330px;
    opacity: 0;
    animation: fadeZoom 1.2s ease forwards, float 4s ease-in-out infinite;
    animation-delay: 1.2s;
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeZoom {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* FLOAT EFFECT */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        margin-top: 30px;
        width: 200px;
    }
}
/* SECTION */
.services {
    padding: 100px 60px;
    background: linear-gradient(to left, rgb(27, 1, 27) ,rgb(53, 8, 99)) ;
    color: white;
    text-align: center;
}

/* TITLE */
.section-title h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #ffffff, #555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


.section-title p {
    color: #aaa;
    margin-bottom: 50px;
    ont-family: 'Anton', sans-serif;
}

/* GRID */
.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.service-card {
    background: #1a1a40;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

/* DELAY BIAR MUNCUL SATU-SATU */
.service-card:nth-child(1) { animation-delay: 0.2s; }
.service-card:nth-child(2) { animation-delay: 0.4s; }
.service-card:nth-child(3) { animation-delay: 0.6s; }
.service-card:nth-child(4) { animation-delay: 0.8s; }

/* HOVER */
.service-card:hover {
    transform: translateY(-10px) scale(1.02);
    background: linear-gradient(135deg, #00c8ff46, #8d2de252);
}

/* TEXT */
.service-card h3 {
    margin-bottom: 15px;
}

.service-card p {
    font-size: 14px;
    color: #ccc;
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* TABLET */
@media (max-width: 1024px) {
    .services {
        padding: 80px 40px;
    }

    .section-title h2 {
        font-size: 30px;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .services {
        padding: 60px 20px;
    }

    .section-title h2 {
        font-size: 26px;
    }

    .section-title p {
        font-size: 14px;
    }

    .services-container {
        grid-template-columns: 1fr; /* jadi 1 kolom */
    }

    .service-card {
        padding: 25px;
    }
}

/* HP KECIL */
@media (max-width: 480px) {
    .section-title h2 {
        font-size: 22px;
    }

    .service-card h3 {
        font-size: 18px;
    }

    .service-card p {
        font-size: 13px;
    }
}
.why {
    padding: 100px 60px;
    background:linear-gradient(to right, rgb(27, 1, 27) ,rgb(53, 8, 99));
    color: white;
    text-align: center;
}

.why-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.why-card {
    padding: 30px;
    border-radius: 15px;
    background: #0f0f2d;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

/* delay biar masuk satu-satu */
.why-card:nth-child(1) { animation-delay: 0.2s; }
.why-card:nth-child(2) { animation-delay: 0.4s; }
.why-card:nth-child(3) { animation-delay: 0.6s; }
.why-card:nth-child(4) { animation-delay: 0.8s; }

.why-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, #00c8ff5e, #8d2de23f);
}

.why-card p {
    font-size: 14px;
    color: #ccc;
}

/* responsive */
@media (max-width: 768px) {
    .why {
        padding: 60px 20px;
    }
}
/* SECTION */
.portfolio {
    padding: 100px 60px;
    background:linear-gradient(to left, rgb(27, 1, 27) ,rgb(53, 8, 99));
    color: white;
    text-align: center;
}

/* GRID */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* CARD */
.portfolio-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

/* DELAY ANIMASI */
.portfolio-card:nth-child(1) { animation-delay: 0.2s; }
.portfolio-card:nth-child(2) { animation-delay: 0.4s; }
.portfolio-card:nth-child(3) { animation-delay: 0.6s; }
.portfolio-card:nth-child(4) { animation-delay: 0.8s; }

/* IMAGE */
.portfolio-card img {
    width: 100%;
    display: block;
    transition: 0.5s;
}

/* OVERLAY */
.portfolio-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.85));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: 0.4s;
}

/* HOVER */
.portfolio-card:hover img {
    transform: scale(1.1);
}


/* TEXT */
.portfolio-overlay h3 {
    margin-bottom: 10px;
    opacity: 0.8;
}

.portfolio-overlay p {
    font-size: 14px;
    color: #ccc;
    opacity: 0.5;
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .portfolio {
        padding: 60px 20px;
    }
}
.portfolio-btn {
    margin-top: 15px;
    padding: 8px 18px;
    border-radius: 20px;
    background: linear-gradient(to right, #fffffffd, #aea0d1);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-decoration: none;
    opacity: 0.8;
}
.portfolio-btn:hover {
     transform: translateY(-3px) scale(1.05);
     box-shadow: 0 10px 25px rgba(12, 11, 12, 0.274);
     background: linear-gradient(to right, #07070700, #8d2de200);
     border: 1px solid #7575755d;
     color: wheat;
}

/* SECTION */
.testimoni {
    padding: 100px 60px;
    background:linear-gradient(to right, rgb(27, 1, 27) ,rgb(53, 8, 99));
    color: white;
    text-align: center;
}

/* GRID */
.testimoni-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* CARD */
.testimoni-card {
    background: #10012c;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;
}

/* DELAY */
.testimoni-card:nth-child(1) { animation-delay: 0.2s; }
.testimoni-card:nth-child(2) { animation-delay: 0.4s; }
.testimoni-card:nth-child(3) { animation-delay: 0.6s; }

/* FOTO */
.testimoni-card img {
    width: 80px;
    height: 80px;

    object-fit: cover;     
    border-radius: 50%;     

    display: block;
    margin: 0 auto 15px;
}

/* TEXT */



.review {
    font-size: 14px;
    color: #ccc;
}

/* HOVER */
.testimoni-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, #0e023b5b, #8d2de236);
}

/* ANIMASI */
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .testimoni {
        padding: 60px 20px;
    }
}
.testimoni-button {
    margin-top: 40px;
}

.testimoni-button a {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 30px;
    background: linear-gradient(to right, #fffffffd, #8f63aa);
    color: white;
    text-decoration: none;
    transition: 0.3s;
    color: #000;
}


/* HOVER */
.testimoni-button a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 1px 5px rgba(141, 45, 226, 0.281);
    color: white;
    background: linear-gradient(to right , rgba(4, 4, 121, 0.329) , rgba(36, 0, 102, 0.096));
}

/* KLIK */
.testimoni-button a:active {
    transform: scale(0.95);
}
/* SECTION */
.pricing {
    padding: 100px 60px;
    background: linear-gradient(to top, rgb(27, 1, 27) ,rgb(53, 8, 99));
    color: white;
    text-align: center;
}

/* GRID */
.pricing-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 50px;
}

/* CARD */
.price-card {
    background: #1a1a40;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s;
    position: relative;
}

/* HOVER */
.price-card:hover {
    transform: translateY(-10px) scale(1.02);
}

/* HIGHLIGHT */
.highlight {
    border: 2px solid #8e2de2;
    transform: scale(1.05);
}

/* BADGE */
.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: linear-gradient(to right, #00c6ff, #8e2de2);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

/* TEXT */
.price-card h3 {
    margin-bottom: 10px;
}

.price-card h2 {
    margin-bottom: 20px;
    color: #00c6ff;
}

/* LIST */
.price-card ul {
    list-style: none;
    margin-bottom: 25px;
}

.price-card ul li {
    margin: 8px 0;
    font-size: 14px;
}

/* NOTE */
.note {
    margin-top: 30px;
    font-size: 13px;
    color: #aaa;
}
.btn-price {
    padding: 12px 25px;
    border-radius: 30px;
    background: linear-gradient(to right, #fffffffd, #aea0d1);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.3s ease;
}

/* HOVER */
.btn-price:hover {
     transform: translateY(-3px) scale(1.05);
     background: linear-gradient(to right, #00000000, #55099700);
     border: 1px solid #8e2de2;
     color: white;
}
.order-form {
    display: none;
    margin-top: 50px;
    padding: 20px;
    background: #111;
    border-radius: 10px;
}

.order-form input,
.order-form textarea,
.order-form select {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
/* OVERLAY BLUR */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(6px);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* MODAL BOX */
.modal {
    background: #111;
    padding: 30px;
    border-radius: 12px;

    width: 90%;
    max-width: 700px;
    color: white;
    position: relative;
}


.modal form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.modal textarea {
    grid-column: span 2;
}


/* INPUT */
.modal input,
.modal select,
.modal textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

/* BUTTON */
.btn-kirim {
    width: 100%;
    padding: 12px;
    background: #00c853;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* CLOSE BUTTON */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
input, select {
    border: 1px solid #ccc;
}

.input-error {
    border: 2px solid red !important;
}
input:focus, select:focus {
    outline: none;
    border: 2px solid #00c853;
}



/* RESPONSIVE */
@media (max-width: 768px) {
    .pricing {
        padding: 60px 20px;
    }

    .highlight {
        transform: scale(1);
    }
}


/* HEADER */
.contact-faq {
    background: linear-gradient( to top , black , rgb(24, 1, 24));
    color: #aaa;

}
.contact-header {
    text-align: center;
    padding: 60px 20px;
    
    
}

/* CONTAINER */
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
    justify-content: center;
    
}

/* INFO */
.contact-info {
    flex: 1;
    min-width: 250px;
}

.contact-card {
    display: block;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.contact-card:hover {
    transform: scale(1.05);
}

.wa { background: linear-gradient(to right , rgb(4, 214, 4) , rgb(4, 83, 4)); }
.ig { background: linear-gradient(135deg , rgb(107, 12, 107) , rgba(197, 16, 173, 0.623)); }
.tt { background: #000; }



/* FLOATING WA */
.floating-wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 30px;
    border-radius: 75%;
    text-decoration: none;
    line-height: 60px;
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
}


/* DEFAULT (DESKTOP) */
.contact-container {
    display: flex;
    gap: 40px;
    padding: 50px;
}

/* MOBILE */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info {
        order: 1; /* atas */
    }

    .contact-form {
        order: 2; /* bawah */
    }
}
/* FAQ */
.faq {
    padding: 60px 20px;
    text-align: center;
    
}

.faq-container {
    max-width: 700px;
    margin: auto;
    color: #aaa;
}

/* ITEM */
.faq-item {
    margin-bottom: 15px;
    border-radius: 10px;
    overflow: hidden;
}

/* QUESTION */
.faq-question {
    width: 100%;
    padding: 15px;
    background: none;
    border: none;
    color: white;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    display: block;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    

}



.faq-answer p {
    padding: 15px;
    margin: 0;
}

/* ACTIVE */
.faq-item.active .faq-answer {
    max-height: 200px;
}
/* posisi icon kanan */


/* style icon */
.faq-question .icon {
    font-size: 20px;
    transition: 0.3s;
}

/* saat aktif jadi minus */
.faq-item.active .icon {
    transform: rotate(45deg); /* + jadi x */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.faq-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to top , rgb(0, 0, 0) , rgb(36, 1, 36));
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.faq {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    
}


.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: height 0.3s ease, padding 0.3s ease;
    padding: 0 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.0050);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.534);
    text-align: left;
    overflow: hidden;
    transition: 0.3s ease;
    
    
}

.faq.active .faq-answer {
    max-height: 200px; /* cukup untuk jawaban */
}
.footer {
    background: #0d0d0d;
    color: #fff;
    padding: 50px 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    overflow: hidden;
}

.footer-col h2,
.footer-col h3 {
    margin-bottom: 15px;
}

.footer-col p {
    font-size: 14px;
    color: #ccc;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #00c853;
}

/* SOCIAL */
.socials a {
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

.socials a:hover {
    color: #00c853;
}

/* BOTTOM */
.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    margin-top: 30px;
    padding-top: 15px;
    font-size: 14px;
    color: #aaa;
}


body {
    background-color: #000;
}
/* RESPONSIVE FOOTER */
@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-col {
        margin-bottom: 20px;
    }

    .socials {
        justify-content: center;
    }
}


.footer-col {
    word-wrap: break-word;
}




